<ion-toolbar>
	<ion-title>Saved Tweets</ion-title>
</ion-toolbar>

<ion-content>
	<ion-list>
		<ion-item-sliding *ngFor="let tweet of savedTweets">
			<app-tweet-item [tweet]="tweet"></app-tweet-item>
			<ion-item-options side="end">
		    	<ion-item-option color="danger" (click)="removeTweet(tweet)">
		      		<ion-label>Remove Item</ion-label>
		    	</ion-item-option>
		    </ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>