<ion-toolbar>
	<ion-item>
		<ion-input placeholder="Search Twitter" #searchInput (keyup.enter)="onSubmitSearch(searchInput.value)"></ion-input>
		<ion-icon (click)="onSubmitSearch(searchInput.value)" slot="end" name="search"></ion-icon>
	</ion-item>
</ion-toolbar>

<ion-content>
	<ion-list>
		<div [draggable]="true" (dragstart)="dragstart($event, tweet)" *ngFor="let tweet of resultTweets" >
			<app-tweet-item [tweet]="tweet"></app-tweet-item>
		</div>
	</ion-list>
</ion-content>