<ion-item lines="full">
	<ion-thumbnail slot="start" align-self-baseline>
      <ion-img [src]="tweet.user.profileImageURL"></ion-img>
    </ion-thumbnail>
    <div align-self-baseline>
    	<ion-label text-wrap slot="top">{{tweet.user.name}} <span tweet-handle>@{{tweet.user.screenName}}</span></ion-label>
    	<ion-label tweet-text text-wrap slot="bottom">{{tweet.text}} </ion-label>
	</div>
    <ion-note align-self-baseline slot="end" tweet-date>{{tweet.createdAt | date : 'short'}}</ion-note>
</ion-item>