<ion-header>
  <ion-toolbar>
    <ion-title>
      Tweet Saver
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEnabled]="false">
  <ion-grid >
  	<ion-row align-items-stretch>
  		<ion-col>
  			<app-search-tweets></app-search-tweets>
  		</ion-col>
  		<ion-col (dragover)="$event.preventDefault()" (drop)="savedTweetCmpt.onTweetDrop($event)">
  			<app-saved-tweets #savedTweetCmpt></app-saved-tweets>
  		</ion-col>
  	</ion-row>
  </ion-grid>
</ion-content>
